@model IEnumerable<ECommerce.Models.ProductModel>
@{
    @if (Model != null && !Model.Count().Equals(0))
    {
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:5%">Quantity</th>
                    <th style="width:20%" class="text-center">Subtotal</th>
                    <th style="width:15%"></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    var img = item.Image;
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-sm-3 hidden-xs"><img src="@img" width="100" height="100" alt="..." class="img-responsive" /></div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <span class="headertext">@item.ProductName</span>
                                        <p class="ikisatıryazi">@item.Description</p>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td data-th="Price">₺<label class="form-card" id="labelPrc2_@item.Id">@item.Price</label></td>
                        <td data-th="Quantity">
                            <input id="maxItemCount_@item.Id" type="number" class="form-control text-center" value="@item.BasketCount" min="1" max="@item.Quantity" onchange="PriceUpdate(@item.Id,this.value)">
                        </td>
                        @{
                            var subTTLprc = item.Price * item.BasketCount;

                        }
                        <td data-th="Subtotal" class="text-center">₺<label class="form-card" id="labelSubTotal_@item.Id">@subTTLprc</label></td>
                        <td class="actions text-right" data-th="">
                            <button class="btn btn-danger btn-sm" onclick="DeleteProduct(@item.Id)"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <td><a href="/Home/Index" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>

                    <td class="hidden-xs text-center">Total: ₺<label style="font-weight:500" id="labelTotalPrice">@Model.Sum(x => x.Price * x.BasketCount) </label></td>

                    <td class="text-right"><a href="/Home/Checkout" onclick="priceTTL()" class="btn btn-success">Checkout <i class="fa fa-angle-right"></i></a></td>
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        <div class="row emptycard">
            <div class="col-md-3 text-center">
                <img src="~/img/shopping-cart.png" />
            </div>
            <div class="col-md-9" style="margin-top:15px">
                Sepetinizde ürün bulunmamaktadır.
                Alışverişe devam etmek için <a href="/Home/Index">buraya</a> Tıklayınız.
            </div>

        </div> 
    }
}
<script>
    function priceTTL() {

        sessionStorage.totalPrice = $("#labelTotalPrice").text();
    }
</script>


